{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
<body>

    <i class="fas fa-user-secret hacker-icon"></i>

    <div class="container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login_view' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <a href="{% url 'registration' %}" class="register-link">Don't have an account? Register here</a>
    </div>
</body>
</html>
